/* selectores de etiqueta 

    etiqueta < clase < id < in-line < !important 
    
 */

.noticias__articulo {
    background-color: aqua;
    font-size: 20px;
}

article {
    background-color: aquamarine;
    font-size: 30px;
}

.noticias__articulo {
    background-color: blueviolet;
    font-size: 12px;
}